p{
    background-color: aqua;
    color: black;
    border-radius: 20px;
    text-align: center;
}
h1{
    background-color: beige;
    color: black;
    border-radius: 10px;
}
h3{
    background-color: blanchedalmond;

}
#mani{
    background-color:red;
}